.client
    &-actions
        padding: 0px 10px
        &__count
            background-color: #616F82
            color: #fff
            padding: 3px 4px
            border-radius: 10px
            font-size: 12px
            &--active
                background-color: #4198C5
        &__text
            font-size: 14px
            color: #616F82
        &__menu
            display: flex
            gap: 15px
        &__btn
            background-color: transparent
            border: 0px
            cursor: pointer
            font-size: 14px
            color: #616F82
        &__info
            display: flex
            gap: 10px
            align-items: center
        &__default
            display: flex
            align-items: center
            justify-content: space-between
        &__active
            display: flex
            align-items: center
            justify-content: space-between
    &-memu
        display: flex
        align-items: center
        justify-content: space-between
        padding: 0px 20px 0px 10px
        &__controlls
            display: flex
            align-items: center
            gap: 10px
            &-text
                font-size: 14px
                font-style: normal
                font-weight: 400
                line-height: normal
                color: #616F82
    &-profile
        display: flex
        padding: 10px
        gap: 14px
        border-radius: 10px
        box-shadow: 0px 1px 4px 0px rgba(30, 30, 30, 0.10)
        background-color: #fff
        &__info
            flex: 1 1 auto
        &__name
            font-size: 16px
            font-style: normal
            font-weight: 400
            line-height: 20px
            color: #161718
            margin: 0px
            margin: 6px 0px
        &__age
            font-size: 12px
            font-style: normal
            font-weight: 400
            line-height: normal
            color: #161718
            margin: 0px
    &-list
        display: flex
        flex-direction: column
        padding: 0px
        list-style-type: none
        gap: 10px
        max-height: 740px
        overflow: scroll
        -ms-overflow-style: none
        scrollbar-width: none
        &::-webkit-scrollbar
            width: 0
            height: 0
    &-item
        display: flex
        align-items: center
        padding: 10px
        gap: 10px
        background-color: #fff
        border-radius: 10px
        overflow: hidden
        position: relative
        cursor: pointer

        &__cosial
            width: 16px
            height: 15px
        &__photo
            max-width: 40px
            max-height: 40px

        &__name
            flex: 1 1 auto
            font-size: 16px
            font-style: normal
            font-weight: 400
            line-height: 20px
            color: #161718

        &__primary
            position: absolute
            top: 0
            left: 0
            bottom: 0
            width: 2px
            background-color: #4098C5
    &-item--active
        background-color: #F1F2F4
        