@import "./normalize.css"

@font-face 
    font-family: 'SF Pro Display'
    font-weight: 400
    font-style: normal
    src: local('SF Pro Display'), url('./fonts/SF-Pro-Display-Regular.otf') format('otf')

@font-face 
    font-family: 'SF Pro Display'
    font-weight: bold
    src: local('SF Pro Display'), url('./fonts/SF-Pro-Display-Bold.otf') format('otf'),

*
    font-family: "SF Pro Display", sans-serif
